* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

header {
    width: 100%;
    height: 75px;
}

#logo {
    height: 75%;
}

a {
    text-decoration: none;
    color: #aaaaaa;
}

li {
    display: inline-block;
    margin-right: 10px;
}

nav {
    margin: 20px 0;
}

.main1 {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main2 {
    width: 100%;
    height: 500px;
    background-color: #0083ff;
    margin-bottom: 20px;
}

.main-header {
    width: 100%;
    height: 50px;
    background-color: #abcfe7;
    margin-bottom: 20px;
}

.sidebar1 {
    width: 25%;
    height: 410px;
    background-color: #abcfe7;
    float: left;
}

.sidebar2 {
    width: 25%;
    height: 410px;
    background-color: #abcfe7;
    float: right;
}

.square {
    width: calc(50% - 40px);
    height: 410px;
    background-color: #abcfe7;
    display: inline-block;
    margin: 0 20px;
}

footer {
    width: 100%;
    height: 75px;
    background-color: #8801fe;
    margin-bottom: 20px;
}