* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}


/* Header */

header {
    width: 100%;
    height: 75px;
}

#logo {
    height: 100%;
    width: auto;
}

a {
    text-decoration: none;
    color: #aaaaaa;
}

li {
    display: inline-block;
    margin-right: 10px;
}

nav {
    margin: 20px 0;
}


/* MAIN 1 */

.main1 {
    margin: 50px 0;
    width: 100%;
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    filter: brightness(70%);
    border-radius: 10px;
}

.text-main1 {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
}


/* MAIN 2 */

.main2 {
    width: 100%;
    margin-bottom: 20px;
}

.main-header {
    width: 100%;
    margin-bottom: 20px;
}

.main-header>h1 {
    font-size: 40px;
}

.main-header>span {
    font-size: 18px;
    color: #bababa;
}


/* Sidebar 1 */

.sidebar1 {
    width: 25%;
    float: left;
}

img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    filter: brightness(70%);
}


/* Sidebar 2 */

.sidebar2 {
    width: 25%;
    float: left;
}


/* Square */

.square {
    width: calc(50% - 40px);
    margin: 0 20px;
    float: left;
}


/*Footer */

footer {
    width: 100%;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    font-size: 18px;
}

.heart {
    font-size: 22px;
    color: red;
}